services:
  base:
    build:
      context: .
      dockerfile: ./Docker/dev/commons/base/Dockerfile
      args:
        - GRAALVM_VERSION_MAJOR=23
        - MAVEN_MAJOR=3
        - MAVEN_VERSION=3.9.10
    container_name: drifty-base

  runner:
    build:
      context: .
      dockerfile: ./Docker/dev/commons/runner/Dockerfile
    container_name: drifty-runner

  cli:
    depends_on:
      - base
    build:
      context: .
      dockerfile: ./Docker/dev/CLI/Dockerfile
    container_name: drifty-cli
    volumes:
      - ${DOWNLOAD_FOLDER:-.}:/root/Downloads
      - ./.drifty:/root/.drifty

  gui:
    depends_on:
      - base
      - runner
    build:
      context: .
      dockerfile: ./Docker/dev/GUI/Dockerfile
    container_name: drifty-gui
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY:-":0"}
    volumes:
      - ${DOWNLOAD_FOLDER:-.}:/root/Downloads
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./.drifty:/root/.drifty
