@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
li, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--font-color1);
  text-decoration: none;
}
body {
  overflow-x: hidden !important;
}
.hidden {
  display: none !important;
}
/* Variables */
:root {
  --background-color: #e8f9fd;
  --text-color: #0aa1dd;
  --primary-color: #79dae8;
  --background-color1: #79dae8;

  --black: black;
  --maroon: maroon;

  --button-background: #1c0099;
  --button-onhover-background: yellow;
  --button-onhover-shadow: black;
  --button-text: white;
  --button-onhover-text: black;
  --nav-bg: transparent;
  --nav-bg2: #1a2035;
  --font-color: #1a2035;
  --font-color: #fff;
  --black-col: #151515;
  --dark-col: #1a2035;
  --m-deep-col: #0a5a97;
  --m-dark-col: #1572e8;
  --main-col: #3697e1;
  --m-light-col: #48abf7;
  --ascent-col-1: #ff9e27;
  --ascent-col-1l: #ffad46;
  --ascent-col-2: #ea4d56;
  --ascent-col-2l: #f25961;
  --grad: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--background-color1);
  border-radius: 10px;
}
/* Darkmode */
.darkmode {
  --background-color: #041c32;
  --background-color1: #064663;
  --black: #ecb365;
  --maroon: #f1d00a;
  --button-background: #064663;
  --button-onhover-background: #ecb365;
  --button-onhover-shadow: #f1d00a;
  --button-text: white;
  --button-onhover-text: black;
  --grad: linear-gradient(
    to left top,
    var(--black-col),
    var(--black-col),
    var(--black-col),
    var(--black-col),
    var(--black-col),
    var(--dark-col),
    var(--dark-col),
    var(--dark-col),
    var(--dark-col),
    var(--dark-col),
    var(--dark-col),
    var(--m-deep-col),
    var(--m-deep-col),
    var(--main-col),
    var(--main-col),
    var(--m-light-col)
  );
}
.temp-color {
  background-color: #1a2035 !important;
}
.text-gradient-ry {
  background: linear-gradient(
    78deg,
    var(--ascent-col-2),
    var(--ascent-col-1)
  ) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* Navbar */
.nav-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nav-bar {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100vw;
  padding: 32px 10vw;
  background: transparent;
  transition: padding 0.3s ease-out;
}
.nav-bar * {
  color: white;
}
.nav-sticky {
  position: fixed;
  padding: 10px 10vw;
  background: var(--nav-bg2);
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
  transition: padding 0.3s ease-out;
}
.nav-bar > a {
  margin-right: auto;
}
.logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li:last-child {
  margin-top: 8px;
}
.nav-links li a {
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: #0aa1dd;
  animation: blink 0.5s ease infinite;
}
.nav-links > .btn-toggle {
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-family: arial;
  font-weight: 900;
  position: relative;
}
.button {
  border: none;
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 50px;
  background: linear-gradient(
    -45deg,
    var(--background-color1),
    var(--text-color)
  ) !important;
  transition: all 0.3s ease;
}
.button:hover {
  animation: blink 3s ease infinite;
  box-shadow: 2px 2px 10px darkblue;
}
#menu {
  display: none;
  font-size: 20px;
  margin: 0;
}
@keyframes blink {
  0% {
    filter: brightness(1.2);
  }
  70% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.2);
  }
}
/* about us */
.about{
  text-align: center;
  line-height: 1.6 !important;
  padding: 25px;
  background-color: var(--background-color1);
}
.about-container{
  background-color: var(--background-color1)
}
.about h1{
  padding-top: 80px;
  font-size: 40px;
  color: var(--black);
}
.img-container h2 a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--button-onhover-shadow)
}
h4{
  font-size: 20px;
}
.img-container{
  padding-top : 20px;
}
.about-us{
  padding: 20px;
}
.text{
  color: var(--black);
}
.about-content{
  padding: 20px;
  background-color: #041c32;
  border-radius: 10px;
}
.about-content p , .about-content a{
  color: white;
  font-size: 24px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.abt-btn-dv{
  padding: 25px;
}
.abt-btn-dv button{
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.abt-btn-dv button:hover{
  background-color: #f1d00a;
}
.about img{
  width: 200px;
  border-radius: 50%;
}
.about-sec{
    text-align: center;
    padding: 25px;
    background-color: var(--background-color1);
}
.about-sec h3{
    color: var(--black);
    font-size: 30px;
    padding: 20px;
    border-top:2px solid;
}
.stats{
  padding: 25px;
}
.stats img{
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
/* Footer */
.footer {
  padding: 40px 0;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
  flex: 12px;
}
.legal {
  flex: 3;
  color: var(--black);
  margin-top: 5%;
}
.career{
  flex: 3;
  color: var(--black);
  margin-top: 5%;
}
.social-container{
  color: var(--black);
  margin-top: 5%;
}
.footer li {
  margin-top: 8px;
  list-style-type: none;
  line-height: 180%;
}
.legal a {
  color: var(--black);
}
.career a {
  color: var(--black);
}
.legal a:hover, .career a:hover{
  color:#00acee;
  border-radius:10%;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.social-container {
  flex: 3;
  border-bottom: tomato;
}
/*scroll to top*/
#mybtn{
  display: none;
  position: fixed;
  bottom: 18px;
  right: 19px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0a5a97;
  color: wheat;
  cursor: pointer;
  padding: 15px;
  border-radius: 200px;
  font-size: 18px;
}
#mybtn:hover{
  background-color: rgb(18, 29, 59);
}
.footer .social a {
  font-size: 20px;
  color: var(--black);
  border: 1px solid black;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin: 0 6px;
  opacity: 0.75;
  transition: all 0.25s linear;
}
.footer .social .social-icons a {
  color: #0f0f0f;
  padding: 0.1rem;
  border: 1px solid #0f0f0f;
  border-radius: 50%;
  width: auto;
}
#twitter:hover {
  background-color: #00acee;
  color: #fff;
  transition: 0.3s ease;
  border: none;
  transform: scale(1.2);
}
.footer .social :nth-child(2):hover {
  background-color: #0f0f0f;
  color: #fff;
  transition: 0.3s ease;
  border: none;
  transform: scale(1.2);
}
.footer .social :nth-child(3):hover {
  background-color: #2962ff;
  color: #fff;
  transition: 0.3s ease;
  border: none;
  transform: scale(1.2);
}
.footer .social :nth-child(4):hover {
  background-color: var(--maroon);
  color: #fff;
  transition: 0.3s ease;
  border: none;
  transform: scale(1.2);
}
.footer > p {
  color: var(--black);
  font-size: 15px;
}
/* Media Queries */
.copyright{
  color: var(--black);
  background-color: var(--background-color);
  text-align: center;
  padding: 20px;
}
/* Scroll to top button styling starts from here */
#mybtn {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 19px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0a5a97;
  color: wheat;
  cursor: pointer;
  padding: 15px;
  border-radius: 200px;
  font-size: 18px;
}
#mybtn:hover {
  background-color: rgb(18, 29, 59);
}
