
 

/* ALL MOBILE  */
@media screen and (max-width: 767px) {
   
    li.fade {
        opacity: 1;
        transition: none;
    }
    .header-container {
        transform: none !important;
        width: 100% !important;
    }
    .nav-links .button{
        text-transform: uppercase;
    }

}
