@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Rubik", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--font-color);
    text-decoration: none;
}
body{
    overflow-x: hidden !important;
}

.hidden {
    display: none !important;
}

/* Variables */

:root {
    --background-color: #E8F9FD;
    --text-color: #0AA1DD;
    --primary-color: #79DAE8;
    --background-color1: #79DAE8;

    --black: black;
    --maroon: maroon;

    --button-background: #1c0099;
    --button-onhover-background: yellow;
    --button-onhover-shadow: black;
    --button-text: white;
    --button-onhover-text: black;

    --nav-bg: transparent;
    --nav-bg2: #1a2035;

    --font-color: #1a2035;
    --font-color: #fff;

    --black-col: #151515;
    --dark-col: #1a2035;
    --m-deep-col: #0a5a97;
    --m-dark-col: #1572e8;
    --main-col: #3697e1;
    --m-light-col: #48abf7;

    --ascent-col-1: #ff9e27;
    --ascent-col-1l: #ffad46;
    --ascent-col-2: #ea4d56;
    --ascent-col-2l: #f25961;

    --grad: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );

}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--background-color1);
    border-radius: 10px;
}


/* Darkmode */

.darkmode {
    --background-color: #041C32;
    --background-color1: #064663;

    --black: #ECB365;
    --maroon: #F1D00A;

    --button-background: #064663;
    --button-onhover-background: #ECB365;
    --button-onhover-shadow: #F1D00A;
    --button-text: white;
    --button-onhover-text: black;
    

    --grad: linear-gradient(
        to left top,
        var(--black-col),
        var(--black-col),
        var(--black-col),
        var(--black-col),
        var(--black-col),
        var(--dark-col),
        var(--dark-col),
        var(--dark-col),
        var(--dark-col),
        var(--dark-col),
        var(--dark-col),
        var(--m-deep-col),
        var(--m-deep-col),
        var(--main-col),
        var(--main-col),
        var(--m-light-col)
    );
}

.temp-color{
    background-color: #1a2035 !important;
}
.text-gradient-blue {
    background: linear-gradient(
        -45deg,
        var(--main-col),
        var(--m-light-col)
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-gradient-ry {
    background: linear-gradient(
        -45deg,
        var(--ascent-col-2l),
        var(--ascent-col-1l)
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-gradient-yellow {
    background: linear-gradient(
        -45deg,
        var(--ascent-col-1),
        var(--ascent-col-1l)
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* TEXTURE LAYER */
.texture {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Resources/grain-dark.webp");
    opacity: 0.5;
    overflow: hidden;
    pointer-events: none;
}

/* Navbar */

.nav-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav-bar {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100vw;
    padding: 32px 10vw;
    background: transparent;
    transition: padding 0.3s ease-out;
}

.nav-bar * {
    color: white;

}

.nav-sticky {
    position: fixed;
    padding: 10px 10vw;
    background: var(--nav-bg2);
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
    transition: padding 0.3s ease-out;
}

.nav-bar > a{
    margin-right: auto ;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}
.nav-links li:last-child {
    margin-top: 8px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-links li a:hover {
    color: #0aa1dd;
    animation: blink 0.5s ease infinite;
}

.button {
    border: none;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 50px;
    background: linear-gradient(
        -45deg,
        var(--background-color1),
        var(--text-color)
    ) !important;
    transition: all 0.3s ease;
}

.button:hover {
    animation: blink 3s ease infinite;
}

#menu {
    display: none;
    font-size: 20px;
    margin: 0;
}

@keyframes blink {
    0% {
        filter: brightness(1.2);
    }
    70% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1.2);
    }
}


.buttons {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

.btn2 {
    margin: 0;
    transition: 0.25s ease-out;
    cursor: pointer;
}

.btn2 > a {
    color: var(--maroon)
}

.btn2:hover a {
    animation: slide_underline 0.2s ease-out;
    text-decoration: underline var(--maroon) wavy;
}

#btn1 {
    width:80px;
    height: 60px;
}


/* Header */

.header-container > h1 {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 32px;
    line-height: 1.05;
}

.header-container > p {
    font-size: 22px;
    line-height: 1.6;
    font-weight: 500;
    text-align: justify;
}

.header-container > .btn {
    margin: 32px 10px 32px 0px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 16px 32px;
    border-radius: 9px;
    transition: 0.5s;
}

.header-container > .btn:hover {
    background-color: var(--button-onhover-background);
    color: var(--button-onhover-text);
    box-shadow: 5px 5px 1px var(--button-onhover-shadow);
}

.header-container {
    width: 40%;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--black);
}

header  img {
    position: absolute;
    aspect-ratio: 1; 
}

@keyframes move {
    0%{
        transform: translateZ(0px) scale(1) ;
        filter: blur(2px) brightness(100%) hue-rotate(360deg);
    }
    
    100%{
        transform: translateZ(-100px) scale(1.5);
        filter: blur(0px) brightness(150%);
    }
}

.img-layer {
    position: absolute;
    pointer-events: none;
    display: inherit;
    margin-left: 10rem;
    align-items: center;
    transform: rotateX(0deg) rotateY(335deg);
    transform-style: preserve-3d;
}

.img-layer > img:nth-child(1) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s infinite alternate;
}

.img-layer > img:nth-child(2) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.25s infinite alternate;
}
.img-layer > img:nth-child(3) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s infinite alternate;
}
.img-layer > img:nth-child(4) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.75s infinite alternate;
}
.img-layer > img:nth-child(5) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1s infinite alternate;
}
.img-layer > img:nth-child(6) {
    animation: move 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1.25s infinite alternate;
}

header {
    perspective: 500px;
    width: 100%;
    height: 100vh;
    padding: 10rem 0;
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grad);
    background-repeat: no-repeat !important;
}

/* Contributors */
.contrib{
    background:var(--nav-bg2);
    color: white;
    padding: 2rem 4rem;
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
}

.contrib-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.contrib-container .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;
    gap: 28px;
    flex: 1;
    transition: all 0.3s ease;
}

.contrib-container:nth-child(1){
text-align: start !important;
line-height: 1.6 !important;
}
.contrib-container:nth-child(1) {
    text-align: start !important;
    line-height: 1.6 !important;
}

.contrib-container p {
    font-size: 24px;
}
.contrib-container h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.contrib-container .btn4 {
    font-size: 16px;
    margin: 0 !important;
    background-color: transparent;
    border: solid white 2px;
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;    
}
.contrib-container .btn4:hover {
    margin: 0 !important;
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3) inset;    
}
.contributors{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}


/* Info */

.info {
    background-color: var(--background-color1);
    padding: 2rem 5rem;
    color: var(--black);
}


/* Download */

.download {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    color: var(--black);
}

.download > h2 {
    font-family: Lora, sans-serif;
    font-style: italic;
    color: var(--maroon);
    margin-top: 2rem;
}

/* -Download section- */

.download_section {
    margin: 1rem auto 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* -Dowload demo- */

.demo {
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));
    margin: 0 2rem 2rem 2rem;
    align-items: center;
}

.demo > .text {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
}

.demo .text > h2 {
    font-size: 3.25rem;
}

.demo .text > p {
    font-size: 1.5rem;
}

.demo > video {
    grid-column-start: 5;
    grid-column-end: 13;
    width: 100%;
}

.demo_section {
    margin: 1rem auto 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Contact */

.contact_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn4 {
    font-size: 20px;
    font-weight: 600;
    
    background-color: var(--button-background);
    color: var(--button-text);
    
    margin: 1rem;
    padding: 16px 32px;
    border-radius: 500px;
    transition: 0.5s;
}

.btn4:hover {
    background-color: var(--button-onhover-background);
    color: var(--button-onhover-text);
    box-shadow: 5px 5px 1px var(--button-onhover-shadow);
}

#contact {
    background-color: var(--background-color1);
    color: var(--black);
    font-family: Lora, sans-serif;
    font-style: italic;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    gap: 10px;
    padding: 20px 0 ;
    text-align: center;
}
.contact-container a{
    width: auto;
    padding: 20px;
    font-size: 20px;
    font-style: normal;
    background-color: var(--text-color);
    border-radius: 5rem;
    margin: 0 0 34px 0 ;
}
.contact-container a:hover{
    filter: brightness(1.2);
}
.contact-container i{
   line-height: none;
   padding: 0;
   margin: 0;
}

#contact > h2 {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: var(--background-color);
    text-align: center;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a {
    font-size: 30px;
    color: var(--black);
    
    border: 1px solid black;
    width: 60px;
    aspect-ratio: 1;
    
    line-height: 58px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
    
    opacity: 0.75;
    transition: all 0.25s linear;
}

.footer .social a:hover {
    color: var(--maroon);
    opacity: 1;
    box-shadow: 2px 2px 10px var(--maroon), 2px -2px 10px var(--maroon), -2px -2px 10px var(--maroon), -2px 2px 10px var(--maroon);
}

.footer > p {
    color: var(--black);
    font-size: 15px;
}

/* Dark mode toggle */

.btn-toggle {
    position: relative;    
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    
    background-image: url("Resources/Day.webp");
    background-size: cover;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: background-image .90s;
}

.btn-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    transition: all .9s;
    background-color: #F7CA33;
}

.btn-toggle:checked {
    background-image: url("Resources/Night.webp");
    transition: background-image .90s;
}

.btn-toggle:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #ECF0F3;
}
/* Animations */

@keyframes slide_underline {
    0% {
        text-underline-offset: 100%;
    }

    50% {
        text-underline-offset: 55%;
    }

    100% {
        text-underline-offset: 10%;
    }
}

/* Media Queries */

@media screen and (max-width: 750px) {
    .header-container {
        padding-top: 30px;
        margin: 5rem 2rem 2rem;
        z-index: 1;
    }
    .header-container > .btn{
        margin: 10px 0px;
    }
    .contrib-container{
        display: block;
        padding: 2.5rem 0;
    }
    .contrib-container .btn4 {
       text-align: center;   
    }
    .contrib{
        padding: 0;
    }
    .contrib-container .content {
        padding: 1.5rem 2rem  !important;
        transition: all 0.3s ease;
    }

}

@media screen and (max-width: 864px) {
    .contrib-container{
        display: block;
        padding: 2.5rem 0;
        transition: all 0.3s ease;
    }
    .contrib-container .btn4 {
       text-align: center;   
    }
}

@media screen and (max-width: 1345px) {
    .demo {
        display: flex;
        flex-direction: column;
    }
    
    .demo > .text {
        text-align: center;
    }
    
    .demo > .text > h2 {
        font-size: 36px;
    }

    .demo > .text > p {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .buttons {
        width: min(100%, 700px);
        column-gap: 1rem;
        font-size: min(4vw, 24px);
    }

    .btn4 {
        font-size: min(2vw, 30px);
    }
}