name: Format

on:
  push:
    paths-ignore:
      - "Website/**"
      - "*.md"
      - "*.txt"
      - "qodana.yaml"
  pull_request:
    paths-ignore:
      - "Website/**"
      - "*.md"
      - "*.txt"
      - "qodana.yaml"
  workflow_dispatch:

jobs:
  formatting:
    name: Format Java files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup JDK 20
        uses: actions/setup-java@v2
        with:
          distribution: 'oracle'
          java-version: 20.0.1
      - name: Format Java files
        run: mvn rewrite:run
      - name: Commit and push changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "style: Format Java files"
          git push
